<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="net452" />
  <package id="XamarinUniversity.Core" version="1.0.161128" targetFramework="net452" />
  <package id="XamarinUniversity.Infrastructure" version="1.0.170620" targetFramework="net452" />
</packages>