<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="XamarinUniversity.Core" version="1.0.161128" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="XamarinUniversity.Infrastructure" version="1.0.170620" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>